$primary: #151b35; // Used for important elements and actions throughout the application, such as buttons or links or backgrounds.
$secondary: #C0480C ; // Used for secondary elements and actions, such as hover states and selected items or backgrounds.
$subtle_hightlight: #C9C9C9; //Used to provide a subtle visual separation between elements.
$background_color: #E8E3DC;  // It provides a neutral and clean background for the application. Mostly used inside the application chat area.
$main_button_color: #F05F16; // Used for primary call-to-action buttons in the application.
$light_surface_text: #402A1A; // On light colors, it ensures readability and clarity for text and icons throughout the application.
$dark_surface_text: #F3F3F3; // On dark colors, it ensures readability and clarity for text and icons throughout the application.
$titles_subtitles_font: 'Lexend', sans-serif; // Used for titles and subtitles throughout the application.
$paragarphs_font: 'Alata', sans-serif; // Used for paragraphs and body text throughout the application.

$small_screen: 576px; // Used to define the small screen size for the application.
$medium_screen: 768px; // Used to define the medium screen size for the application.
$large_screen: 992px; // Used to define the large screen size for the application.
$extra_large_screen: 1200px; // Used to define the extra large screen size for the application.

